@import url('https://fonts.cdnfonts.com/css/gotham');

span.logoFooter {
    text-shadow: none;
    border: 0;
    width: 100%;
    height: 100%;
    font: 0/0 a;
    display: inline-block;
}

.containerFooter {
background-color: #000000;

}

img {
    padding: 0 15px;
    width: 50%;
    display: block;
}

img.socialFooter {
    padding: 0 15px;
    width: 70%;
    margin-bottom: 100px;
    cursor: pointer;
}

.containerFooter{
    margin: 0 auto;
    width: 100%;
}

span.titleFooter:hover{
    color: #919496;
}

span{
    font-size: 16px;
    font-family: 'Gotham Medium', 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin-inline-start: 40px;
    margin: 0;
    float: left;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}


span:hover{
    color: #1ed760;
}

.titleFooter
{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    cursor: default;
}

.columnFooter {
    float: left;
    width: 20%;
    margin-bottom: 100px;
    margin-top: 20px;
  }

.rowFooter:after {
    content: "";
    display: table;
    clear: both;
  }

.column2Footer{
    float: left;
    width: 100%;
    margin-top: 20px;
}

.otherFooter{
    color: #919496;
    margin-right: 50px;
    font-size: 12px;
}

.copyrightFooter{
    float: right;
    margin-right: 10px;
    color: #919496;
    font-size: 12px;
    cursor: default;
}


.lastFooter {
   float: right;
    margin-right: 10px;
    color: #919496;
    font-size: 10px;
}

.copyrightFooter:hover{
    color: #919496;
}

.worldFooter {
    width: 15px;
    float: right;
}
  