@import url('https://fonts.cdnfonts.com/css/gotham');

div.imagePromo{
    background-image: url(https://i.scdn.co/image/ab671c3d0000f43050c09132a10b0ed063ad8aa0);
    width: 100%;
    background-position: center center;
    padding-bottom: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 20px;
}

.columnPromo {
    float: left;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}


.textContainerPromo{
    margin: auto;
    width: 100%;
    padding: 60px;
}

.rowPromo:after {
    content: "";
    display: table;
    clear: both;
}

.containerPromo{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(161, 36, 139);
}

.titlePromo{
    color: #fff;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    font-family: 'Gotham', 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-align: left;
}

button {
  color: #ffffff;
  cursor: pointer;
  max-width: 490px;
  min-height: 50px;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-inline: 10px;
  margin-block: 20px;
  float: left;
}

.buttonPromo{
    font-weight: bold;
    border: 0;
    background-color: #191515;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    border-radius: 500px;
    padding-left: 40px;
    padding-right: 40px;
}


.buttonPromo:hover { 
  border: 0;
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.05) perspective(1px)
}

.buttonPlanes{
    font-weight: bold;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 300px;
}

.buttonPlanes:hover { 
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    transform: scale(1.05) perspective(1px)
}

.textPromo {
    width: auto;
    margin: 30px 0px;
    line-height: 1.5;
    margin: 15px 0px 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    font-weight: 500;
}

.textTerminos{
    display: inline-block;
    font-size: 0.6875rem;
    line-height: 1rem;
    text-transform: none;
    letter-spacing: normal;
    box-sizing: border-box;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}
